@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Anton');

.header {
    height: 200px;
    overflow:hidden;
    margin: 20px;
}

#headertext {
    position: absolute;
    font-family: 'Anton', cursive;
    font-size: 30pt;
    margin-top: -60vw;
    padding: 1px 100px 4px;
}

#headerimg {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

body {
  font-family: 'Lobster', cursive;
  font-size: 15pt;
   background-color: white;
}



#allergies {
  font-family: 'Anton', sans-serif;
  font-size: 25pt;
  text-transform: uppercase;
  color: red;
}

.CustomerInformation {
    margin: 20px;
    border: 4px dotted black;
    border-radius: 20px;
    padding: 1px 23px 4px;
}

button:hover {
     background-color: blue;
     cursor: pointer;
}

.table {
  width: 50%;
  margin: 50px;
}

#button {
  margin: 50px;
}







#writeInfo {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    padding: 10px;
}




.burgerclassJS {
   background-color: black;
   color: white;
   margin: 20px;
   margin-top: 0px;
   border: 4px solid red;
   padding: 1px 23px 4px;
}
#burgersGridJS {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: auto auto auto;
     padding: 10px;
}

.burgerclassVue {
   background-color: black;
   color: white;
   margin: 20px;
   margin-top: 0px;
   border: 4px solid red;
   padding: 1px 23px 4px;
}
#burgersGridVue {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: auto auto auto;
     padding: 10px;
}


.orderConfJS {
    margin: 20px;
    border-radius: 20px;
    padding: 1px 23px 4px;
    font-family: 'Time new roman', cursive;
    font-size: 14pt;
}
.orderConfVUE {
    margin: 20px;
    border-radius: 20px;
    padding: 1px 23px 4px;
    font-family: 'Time new roman', cursive;
    font-size: 14pt;
}


